a.nav-link {
    color: white !important;
    margin-right: 38px;
    border-radius: 30px;
    padding: 5px 39px;
}
a.nav-link:hover {
    text-decoration: underline;
}
nav.navbar.navbar-expand-lg.navbar-light {
    margin: 0;
    padding: 0;
}
.navigation {
    background: #020202d6;
    color: white;
}

.navigation__ul{
    width: 100%;
    padding: 12px 0;
}
.active{
    background: #8bc34a;
    font-size: 19px;
    font-weight:700;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.815) !important;
    margin-right: 16px;
    padding: 12px 26px;
}
button.navbar-toggler.collapsed {
    background: #8bc34a;
    color: white !important;
}
.navbar-light .navbar-toggler {
    background: #8bc34a;
    /* color: rgba(0,0,0,.5); */
    border-color: rgba(0,0,0,.1);
    color: white !important;
}